.container{
    margin: 0 auto;
    width: 50%;
}

.content{
    padding: 5px;
    margin: 0 auto;
}
.content span{
    width: 250px;
}

.dz-message{
    text-align: center;
    font-size: 28px;
}

.dz-preview .dz-image img{
        
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}